:root {
  --orange: hsl(14, 100%, 65%);
  --yellow: hsl(63, 100%, 83%);
  --lightblue: hsl(225, 100%, 85%);
  --blue: hsl(240, 100%, 50%);
  --green: hsl(128, 100%, 86%);
  --lightpurple: hsl(267, 100%, 85%);
  --active: var(--orange);
}
